language: android
android:
  components:
    - tools
    - build-tools-27.0.2
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository
licenses:
  - 'android-sdk-license-.+'
before_install:
  - yes | sdkmanager "platforms;android-27"
sudo: false
jdk:
  - oraclejdk8
script:
  - ./gradlew test
